<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">

        <!-- content -->
        <div class="content">
        <table>
        <tr>
          <td align="center">
            <p>
              <a href="https://twitter.com/cssanimation">Follow @cssanimation on Twitter</a>
              <br>
              <br>
              You are receiving this email as you signed up to a course from <a href="https://cssanimation.rocks">CSS Animation</a>.
              <br>
              <br>
              This email is sent to "*|EMAIL|*". If you'd like this changed, reply to this email.
              <br>
              <a href="*|UNSUB|*">Unsubscribe</a> from this list. (Caution: You won't receive any more course emails. If you have questions, please reply to this message)
            </p>
            <p class="address">
            CSS Animation, Dublin, Ireland
            </p>
          </td>
        </tr>
      </table>
        </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->
