@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$alternate-font-family: Helvetica, Arial, sans-serif;

$text-color:       #2E2729;
$background-color: #fcf5f2;
$brand-color:      #333;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

%bordered {
  border: 2px solid rgba($brand-color, 0.8);
  border-radius: .5em;
}

@import
  "layout",
  "zurb_email"
;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
