<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- If you delete this meta tag, Half Life 3 will never be released. -->
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CSS Animation Courses</title>

    <!-- smoosh -->
      <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <!-- endsmoosh -->

  </head>

  <body style="background-color: #fcf5f2;margin: 0;">

  {% include header.html %}


  <div mc:edit="body-content">

    <table class="body-wrap">
      <tr>
        <td></td>
        <td class="container">

          <div class="content">
          <!-- COPY -->
          {{ content }}
          <!-- /COPY -->
          </div>

        </td>
        <td></td>
      </tr>
    </table>
    <!-- /COPY -->
  </div>

  {% include footer.html %}

</body>
</html>
